ion-card.weather-card {
  color:white;
  ion-card-title {
    color: white;
    font-weight: bold;
  }
  ion-card-subtitle {
    color: white;
    font-weight: bold;
  }
}

.weather-info {
  display: flex;
  align-items: center;

  ion-icon {
    margin-right: 10px;
    font-size: 1.5em;
  }
  img {
    margin-right: 10px;
  }
}

